library/
temp/
local/
profiles/
node_modules/
build/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

.nova/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

*.DS_Store