html {
  background-color: rgba(0, 0, 0, 0.8);
}

h1, p {
  font-family: Lato;
}

.alert {
  color: white !important;
  
  &.alert-success {
    background-color: #0a561c;
  }
  
  &.alert-danger {
    background-color: #8e0511;
  }
}
